<div id="learnApp" class="container-fluid">
    <div class="nav-fill">kkkk</div>
    <div class="row">
        <div class="col-md-4">菜单</div>
        <div class="col-md-8">Center</div>
    </div>
</div>
